In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
towers = pd.read_csv('cell_towers.csv')

In [58]:
mcc = pd.read_csv('Mcc-Mnc.csv')
countries = pd.read_csv('Countries by continents.csv')

In [60]:
towers.columns = ['radio', 'MCC', 'MNC', 'TAC', 'CID', 'unit', 'LON', 'LAT', 'RANGE',
       'SAM', 'changeable', 'created', 'updated', 'averageSignal']

In [61]:
mcc = pd.merge(left=mcc, right=countries[['Country', 'Continent']],
                    how='inner', on=['Country'])

In [66]:
merged_df = pd.merge(left=towers, right=mcc[['MCC', 'MNC', 'Country', 'Network', 'Continent']],
                    how='inner', on=['MCC', 'MNC'])

In [52]:
len(towers)

46989581

In [72]:
towers.head()

,radio,MCC,MNC,TAC,CID,unit,LON,LAT,RANGE,SAM,changeable,created,updated,averageSignal
0,UMTS,262,2,801,86355,0,13.285512,52.522202,1000,7,1,1282569574,1300155341,0
1,GSM,262,2,801,1795,0,13.276907,52.525714,5716,9,1,1282569574,1300155341,0
2,GSM,262,2,801,1794,0,13.285064,52.524000,6280,13,1,1282569574,1300796207,0
3,UMTS,262,2,801,211250,0,13.285446,52.521744,1000,3,1,1282569574,1299466955,0
4,UMTS,262,2,801,86353,0,13.293457,52.521515,1000,2,1,1282569574,1291380444,0

In [73]:
merged_df

,radio,MCC,MNC,TAC,CID,unit,LON,LAT,RANGE,SAM,changeable,created,updated,averageSignal,Country,Network,Continent
0,UMTS,262,2,801,86355,0,13.285512,52.522202,1000,7,1,1282569574,1300155341,0,Germany,Vodafone,Europe
1,GSM,262,2,801,1795,0,13.276907,52.525714,5716,9,1,1282569574,1300155341,0,Germany,Vodafone,Europe
2,GSM,262,2,801,1794,0,13.285064,52.524000,6280,13,1,1282569574,1300796207,0,Germany,Vodafone,Europe
3,UMTS,262,2,801,211250,0,13.285446,52.521744,1000,3,1,1282569574,1299466955,0,Germany,Vodafone,Europe
4,UMTS,262,2,801,86353,0,13.293457,52.521515,1000,2,1,1282569574,1291380444,0,Germany,Vodafone,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46280557,LTE,450,12,12576,7386143,0,126.997299,37.481533,1000,1,1,1708746237,1708746237,0,South Korea,SK Telecom,Asia
46280558,LTE,450,12,12576,1983539,0,127.011230,37.478718,1000,1,1,1708747093,1708747093,0,South Korea,SK Telecom,Asia
46280559,LTE,450,12,13712,303651,0,126.434181,37.468834,1000,1,1,1708774291,1708774291,0,South Korea,SK Telecom,Asia
46280560,LTE,262,23,1037,93848065,-1,9.240255,48.789386,1000,25,1,1705218828,1709568444,0,Germany,1&1,Europe
46280561,LTE,262,23,59623,23813401,-1,9.251635,48.793978,1000,4,1,1705218908,1709568444,0,Germany,1&1,Europe

In [88]:
merged_df[merged_df['Continent']=='Africa'].to_csv('Africa towers.csv')

In [78]:
mcc['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania', 'International'], dtype=object)